.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 24px 0 !important;
  font-size: 14px;

  tr {
    border: 1px solid #d5d7dc;
  }

  thead {
    color: var(text-color);

    th {
      padding: 8px 12px;
      text-overflow: ellipsis;
      word-break: break-word;
      overflow: hidden;
      font-weight: 500;
      border-collapse: collapse;
      text-align: center;

      &:first-child,
      &:last-child {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border: 1px solid #d5d7dc;
    }

    td {
      padding: 12px;
      border-collapse: collapse;
      text-align: center;
      min-width: 62px;
      width: auto;
      height: 36px;
      max-width: 100px;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        font-size: 12px;
        text-overflow: ellipsis;
        word-break: break-word;
        overflow: hidden;
        max-height: 56px;
        line-height: 1.5;
      }

      a {
        white-space: nowrap;
      }

      &:first-child {
        text-align: center;
      }
    }
  }
}

.btn-edit,
.btn-delete,
.btn-more,
.btn-image {
  width: 28px !important;
  padding: 0 !important;
  height: 30px;
  min-width: 0 !important;
}

.form-body-wrapper {
  margin: 12px auto 0 auto !important;
}

.filter-dropdown {
  display: block;
  width: 100%;
  min-width: 100px;
  height: calc(15px + 13px + 2px);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  legend {
    width: 0px;
  }

  fieldset {
    border: none;
  }
}

// on MB and Tbl
